body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.loginheader {
  padding: 8px;
  padding-left: 25px;
  text-align: left;
  background: #2EA3C3;
  color: white;
}

.loginheader h1 {
  font-size: 30px;
}


/* Style the footer */
/* Footer */
.loginfooter {
  padding: 8px;
  text-align: center;
  background: #2EA3C3;
  color: white;
}

.loginbtn {
  vertical-align: baseline;
  margin-top: 13px;
  color: whitesmoke;
  margin-right: 8px;
  padding: 2px;
  margin-left: 8px;
  background-color: grey;

}

/* Style the main content for the dashboards */
#main {
  transition: margin-right .5s;
  padding: 0px;
}

/* Style the header */
.facultyheader {
  padding: 8px;
  padding-left: 25px;
  text-align: left;
  background: #2EA3C3;
  color: white;
}

.facultyheader h1 {
  font-size: 30px;
}

/* Style the hamburger menu drop down - Only used in faculty header */
.menudropbtn {
  background-color: #2EA3C3;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.menudropbtn:hover,
.menudropbtn:focus {
  background-color: #2980B9;
}
.menudropdown {
  position: relative;
  display: inline-block;
}
.menudropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.menudropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}
.menudropdown-content a:hover {
  background-color: #f1f1f1;
}
.menudropdown:hover .menudropdown-content {
  display: block;
}

/* Style the sign out button - for faculty and student screens*/
.signoutbtn {
  vertical-align: baseline;

  color: whitesmoke;
  margin-right: 8px;
  padding: 2px;
  margin-left: 8px;
  background-color: #81818100;
  border: none;

}
#signoutbtn {
  float: right;
}

/* Style the faculty footer */
.facultyfooter {
  padding: 8px;
  text-align: center;
  background: #2EA3C3;
  color: white;
}

/* Style the accordion - faculty and student */
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 0px;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
}

button.active,
button.accordion:hover {
  background-color: #ccc;
}

div.panel {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

/* Style the sidepanel and its contents on dashboard */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar .col {
  font-size: 20px;
  color: #f1f1f1;
  text-align: center;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 10px;
}

.sidebar .archivebtn {
  position: absolute;
  top: 0;
  right: 70px;
  font-size: 25px;
  margin-left: 50px;
  margin-top: 22px;
}

.sidebar h1 {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-top: 15px;
  padding-left: 32px;
  text-decoration: none;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar h4 {
  color: #f1f1f1;
  padding-left: 32px;
}

.sidebar hr {
  border: 1px solid #818181;
  margin: 10px;
}
